@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./bg.avif');
  background-size:cover;
  user-select: none;
  backdrop-filter: blur(2px);
}